.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.test {
    min-width: 500px;
    min-height: 400px;
    margin: 0 1rem;
    border-radius: 8px;
    background: antiquewhite !important;
    border-left: 10px solid #646cff;
    overflow: hidden;
}
