/**
 * @Project: learn-react
 * @Author CHUNAM
 * @Date 9/9/2025
 * @Time 11:43 PM
 */

// Màu sắc
$primary-color: #1e90ff;
$secondary-color: #ff9800;
$text-color: #333;

// Font
$font-family-base: 'Inter', sans-serif;

// Kích thước
$header-height: 60px;
$footer-height: 40px;
